/* Estilos CSS personalizados */
.bg-lightpurple {
    background-color: #D8BFD8; /* Lila claro */
}

.bg-pastelorange {
    background-color: #ea842a; /* Naranja pastel */
}
.bg-greencc {
    background-color: #5ae661; /* verd pastis */
}